<div class="sixteen columns page clearfix">
  <h1 class="center">
    {{ page.title }}
  </h1>
  <div class="feature_divider"></div>

  <div>
    {% include 'page-multi-column', content: page.content %}
  </div>

  <div id="gallery-4" class="gallery galleryid-48 gallery-columns-4 gallery-size-thumbnail"><dl class="gallery-item">
    <dt class="gallery-icon landscape">
      <a href="http://gossamergear.com/wp/brand-ambassadors/trail-ambassadors-list/christy-rockin-rosander-2" class="no-lightbox">
        <img width="150" height="150" src="http://gossamergear.com/wp/wp-content/uploads/2010/03/Christy-Rosander-150x150.jpg" class="attachment-thumbnail size-thumbnail" alt="Christy Rosander">
      </a>
    </dt>
      <dd class="wp-caption-text gallery-caption" id="gallery-4-11426">
      Christy Rosander
      </dd></dl><dl class="gallery-item">
    <dt class="gallery-icon landscape">
      <a href="http://gossamergear.com/wp/brand-ambassadors/trail-ambassadors-list/erin-wired-saver" class="no-lightbox">
        <img width="150" height="150" src="http://gossamergear.com/wp/wp-content/uploads/2010/03/Erin-Saver-150x150.jpg" class="attachment-thumbnail size-thumbnail" alt="Erin &quot;Wired&quot; Saver" aria-describedby="gallery-4-11428" scale="0">
      </a>
    </dt>
      <dd class="wp-caption-text gallery-caption" id="gallery-4-11428">
      Erin “Wired” Saver
      </dd></dl><dl class="gallery-item">
    <dt class="gallery-icon portrait">
      <a href="http://gossamergear.com/wp/brand-ambassadors/trail-ambassadors-list/francis-tapon" class="no-lightbox">
        <img width="150" height="150" src="http://gossamergear.com/wp/wp-content/uploads/2010/03/Francis1-150x150.jpg" class="attachment-thumbnail size-thumbnail" alt="Francis Tapon" aria-describedby="gallery-4-11483" scale="0">
      </a>
    </dt>
      <dd class="wp-caption-text gallery-caption" id="gallery-4-11483">
      Francis Tapon
      </dd></dl><dl class="gallery-item">
    <dt class="gallery-icon portrait">
      <a href="http://gossamergear.com/wp/brand-ambassadors/trail-ambassadors-list/heather-anish-anderson" class="no-lightbox">
        <img width="150" height="150" src="http://gossamergear.com/wp/wp-content/uploads/2010/03/Heather-Anish-Anderson-150x150.jpg" class="attachment-thumbnail size-thumbnail" alt="Heather Anish Anderson" aria-describedby="gallery-4-11429" scale="0">
      </a>
    </dt>
      <dd class="wp-caption-text gallery-caption" id="gallery-4-11429">
      Heather “Anish” Anderson
      </dd></dl><br style="clear: both"><dl class="gallery-item">
    <dt class="gallery-icon landscape">
      <a href="http://gossamergear.com/wp/brand-ambassadors/trail-ambassadors-list/josh-bobcat-stacy" class="no-lightbox">
        <img width="150" height="150" src="http://gossamergear.com/wp/wp-content/uploads/2010/03/Josh-Bobcat-Stacy-150x150.jpg" class="attachment-thumbnail size-thumbnail" alt="Joshua &quot;Bobcat&quot; Stacy" aria-describedby="gallery-4-11473" scale="0">
      </a>
    </dt>
      <dd class="wp-caption-text gallery-caption" id="gallery-4-11473">
      Joshua “Bobcat” Stacy
      </dd></dl><dl class="gallery-item">
    <dt class="gallery-icon landscape">
      <a href="http://gossamergear.com/wp/brand-ambassadors/trail-ambassadors-list/liz-snorkel-thomas" class="no-lightbox">
        <img width="150" height="150" src="http://gossamergear.com/wp/wp-content/uploads/2010/03/liz-150x150.jpg" class="attachment-thumbnail size-thumbnail" alt="Liz &quot;Snorkel&quot; Thomas" aria-describedby="gallery-4-11486" scale="0">
      </a>
    </dt>
      <dd class="wp-caption-text gallery-caption" id="gallery-4-11486">
      Liz “Snorkel” Thomas
      </dd></dl><dl class="gallery-item">
    <dt class="gallery-icon landscape">
      <a href="http://gossamergear.com/wp/brand-ambassadors/trail-ambassadors-list/paul-cronshaw" class="no-lightbox">
        <img width="150" height="150" src="http://gossamergear.com/wp/wp-content/uploads/2013/06/DSC05500-150x150.jpg" class="attachment-thumbnail size-thumbnail" alt="Paul Cronshaw" aria-describedby="gallery-4-6177" scale="0">
      </a>
    </dt>
      <dd class="wp-caption-text gallery-caption" id="gallery-4-6177">
      Paul Cronshaw
      </dd></dl><dl class="gallery-item">
    <dt class="gallery-icon portrait">
      <a href="http://gossamergear.com/wp/brand-ambassadors/trail-ambassadors-list/rik-christensen" class="no-lightbox">
        <img width="150" height="150" src="http://gossamergear.com/wp/wp-content/uploads/2010/03/rik_christensen-150x150.jpg" class="attachment-thumbnail size-thumbnail" alt="Rik Christensen" aria-describedby="gallery-4-11475" scale="0">
      </a>
    </dt>
      <dd class="wp-caption-text gallery-caption" id="gallery-4-11475">
      Rik Christensen
      </dd></dl><br style="clear: both"><dl class="gallery-item">
    <dt class="gallery-icon portrait">
      <a href="http://gossamergear.com/wp/brand-ambassadors/trail-ambassadors-list/steven-shattuck" class="no-lightbox">
        <img width="150" height="150" src="http://gossamergear.com/wp/wp-content/uploads/2014/12/Steven-Shattuck-e1421098366922-150x150.jpg" class="attachment-thumbnail size-thumbnail" alt="Steven Shattuck" aria-describedby="gallery-4-11118" scale="0">
      </a>
    </dt>
      <dd class="wp-caption-text gallery-caption" id="gallery-4-11118">
      Steven “Twinkle” Shattuck
      </dd></dl><dl class="gallery-item">
    <dt class="gallery-icon portrait">
      <a href="http://gossamergear.com/wp/brand-ambassadors/trail-ambassadors-list/thomas-jabba-gathman" class="no-lightbox">
        <img width="150" height="150" src="http://gossamergear.com/wp/wp-content/uploads/Jabba-e1422414878581-150x150.jpg" class="attachment-thumbnail size-thumbnail" alt="the real hiking viking" aria-describedby="gallery-4-11783" scale="0">
      </a>
    </dt>
      <dd class="wp-caption-text gallery-caption" id="gallery-4-11783">
      Thomas “The Real Hiking Viking” Gathman
      </dd></dl><dl class="gallery-item">
    <dt class="gallery-icon landscape">
      <a href="http://gossamergear.com/wp/brand-ambassadors/trail-ambassadors-list/whitney-allgood-laruffa" class="no-lightbox">
        <img width="150" height="150" src="http://gossamergear.com/wp/wp-content/uploads/2010/03/Whitney-Allgood-LaRuffa-150x150.jpg" class="attachment-thumbnail size-thumbnail" alt="Whitney &quot;Allgood&quot; LaRuffa" aria-describedby="gallery-4-11438" scale="0">
      </a>
    </dt>
      <dd class="wp-caption-text gallery-caption" id="gallery-4-11438">
      Whitney “Allgood” LaRuffa
      </dd></dl><dl class="gallery-item">
    <dt class="gallery-icon landscape">
      <a href="http://gossamergear.com/wp/brand-ambassadors/trail-ambassadors-list/will-willi-wabbit-rietveld-and-janet-bos-reichl" class="no-lightbox">
        <img width="150" height="150" src="http://gossamergear.com/wp/wp-content/uploads/2010/03/Will-and-Janet-R-150x150.jpg" class="attachment-thumbnail size-thumbnail" alt="Will Rietveld and Janet Reichl" aria-describedby="gallery-4-3468" scale="0">
      </a>
    </dt>
      <dd class="wp-caption-text gallery-caption" id="gallery-4-3468">
      Will Rietveld and Janet Reichl
      </dd></dl><br style="clear: both">
  </div>

  <!-- Button trigger modal -->
  <!-- <a data-toggle="modal" data-target="#privacyPolicy">Read Privacy Policy</a> -->

</div>